Employee Monthly Payslip/Employee Monthly Payslip/Calculator/bin/
Employee Monthly Payslip/Employee Monthly Payslip/Calculator/obj/
Employee Monthly Payslip/Employee Monthly Payslip/Main/bin/
Employee Monthly Payslip/Employee Monthly Payslip/Main/obj/
Employee Monthly Payslip/Employee Monthly Payslip/UnitTest/bin/
Employee Monthly Payslip/Employee Monthly Payslip/UnitTest/obj/
Employee Monthly Payslip/Employee Monthly Payslip/UnitTestBDD/bin/
Employee Monthly Payslip/Employee Monthly Payslip/UnitTestBDD/obj/
Employee Monthly Payslip/Employee Monthly Payslip/TestResults/
*.suo
