Test/MYOB/Calculator/bin/
Test/MYOB/Calculator/obj/
Test/MYOB/MYOB/bin/
Test/MYOB/MYOB/obj/
Test/MYOB/UnitTest/bin/
Test/MYOB/UnitTest/obj/
Test/MYOB/UnitTestBDD/bin/
Test/MYOB/UnitTestBDD/obj/
Test/MYOB/TestResults/
